.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#table-title {
  margin: 1% 0 1% -85%;
  font-size: 18px;
}

header {
  color: grey;
}

#table-contents {
  display: table;
  width: 90%;
  justify-content: center;
}

#table-contents > * {
  display: table-row;
}

#table-contents .col {
  display: table-cell;
  padding: 5px;
}

button {
  min-height: 30px;
  border-radius: 4px;
  background-color: var(--cen-primary);
  color: var(--cen-light);
  cursor: pointer;
}
